@theme {
  /*color*/
  --color-black-900: #000000;
  --color-white-900: #ffffff;
  --master-sub-green: #aadcb9;
  --master-sub-blue: #82bef0;
  --master-sub-purple: #d2a5eb;

  --style-object-lightgrey: #9d9d9d;
  --style-object-silver: #c4c4c4;

  /*color-gradient 追加*/
  --gradient-white: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  --Gradient-Vivid: linear-gradient(
    90deg,
    var(--Master-Sub-Green, #aadcb9) 0%,
    var(--Master-Sub-Blue, #82bef0) 50%,
    var(--Master-Sub-Purple, #d2a5eb) 100%
  );
  --Gradient-Soft:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.92) 0%,
      rgba(255, 255, 255, 0.92) 100%
    ),
    linear-gradient(
      90deg,
      var(--Master-Sub-Green, #aadcb9) 0%,
      var(--Master-Sub-Blue, #82bef0) 50%,
      var(--Master-Sub-Purple, #d2a5eb) 100%
    );

  --Gradient-Vivid-y: linear-gradient(
    0deg,
    var(--Master-Sub-Green, #aadcb9) 0%,
    var(--Master-Sub-Blue, #82bef0) 50%,
    var(--Master-Sub-Purple, #d2a5eb) 100%
  );

  /* background-color 追加 */
  --style-background-white: #ffffff;

  /* font-color 追加 */
  --style-text-black: #434343;
  --style-text-white: #ffffff;
  --style-text-gray: #6b6b6b;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-md: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* font-size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-regular: 1.25rem; /* 20px*/
  --text-md: 1.5rem; /* 24px */
  --text-lg: 2rem; /* 32px */
  --text-xxl: 2.5rem; /* 40px */
  --text-xxxl: 3rem; /* 48px */
  --text-4xl: 3.25rem; /* 52px */
  --text-5xl: 3.75rem; /* 60px */
  --text-6xl: 5rem; /* 80px */

  /* line-height */
  --leading-short: 1;
  --leading-regular: 1.4;
  --leading-tall: 1.6;

  /* letter-spacing */
  --tracking-wide: 0.1em;
  --tracking-md: 0em;

  /* breakpoint */
  --breakpoint-md: 768px;
}
